
button {
    cursor:pointer;
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    /*background-color: rgb(174, 252, 255);*/
    border-radius: 5px;
    height:5.5em;
    max-width: 1500px;
    min-width: 1000px;
  }

  .navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Adjust to center */
    width: 200%; /* Width larger than the navbar */
    height: 5.5em; /* Match navbar height */
    right: 0;
    background: linear-gradient(0deg, white 10%, rgba(0, 234, 255, 0.393));
    z-index: -1;
}
  
  .logo.companyName{
    display: flex;
    justify-content: center;
    flex : 2;
    gap: 10px;
    margin-left: 10px;
    font-weight: 300;
  }
  .logo {
    align-items: center;
    justify-content: center;
  }
  
  #logo {
    width: 60px;
    height : 60px;
    border-radius: 50%;
    filter: brightness(1.3);
  }
  
  .companyName {
    align-items: center;
    justify-content: center;
  }
  
  #familyblog{
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 0px white;
    font-size: 25px;
    font-family: "Playwrite BE WAL", cursive;
  }
  
  .navigators {
    display: flex;
    flex-wrap: nowrap;
    font-size: 27px;
    flex:4;
    gap:70px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    position: relative;
    top:7px;
    font-family: "Roboto", sans-serif;
  }

  .navigators div{
    transition: transform 0.8s ease;
  }
  
  .navigators div a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.5s ease;
  }

  .navigators .active a{
      font-weight: bold; /* Make active link bold */
      color: #414141; /* Change color to highlight */
  }
  
  .loggers{
    display:flex;
    flex :1;
    gap: 20px;
    justify-content: flex-start;
    margin-right: 40px;
    
  }

  .navigators div:hover{
    transform: scale(1.3); /* Scale up by 10% on hover */
  }
  .navigators div a:hover{
    color : rgb(255, 166, 0);
    text-shadow: 3px 3px white;
  }
  